body {

    font-family: 'Caudex', serif;

}

.navbar-default {
    background: rgba(41, 38, 34, 1);
    background: -moz-linear-gradient(left, rgba(41, 38, 34, 1) 0%, rgba(8, 8, 8, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41, 38, 34, 1)), color-stop(100%, rgba(8, 8, 8, 1)));
    background: -webkit-linear-gradient(left, rgba(41, 38, 34, 1) 0%, rgba(8, 8, 8, 1) 100%);
    background: -o-linear-gradient(left, rgba(41, 38, 34, 1) 0%, rgba(8, 8, 8, 1) 100%);
    background: -ms-linear-gradient(left, rgba(41, 38, 34, 1) 0%, rgba(8, 8, 8, 1) 100%);
    background: linear-gradient(to right, rgba(41, 38, 34, 1) 0%, rgba(8, 8, 8, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292622', endColorstr='#080808', GradientType=1);





}





.navbar-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    line-height: normal;

}

.logo-tree {
    width: 15%;
    padding: 2%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    color: whitesmoke;
    font-size: 26px;
}


#nav p {
    padding: 3px;
    display: block;
    float: left;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    ;
    font-weight: 400;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(40, 40, 40, 0.9),
    4px 4px 4px rgba(105, 105, 105, 0.6);
    margin-top: 0px;
    position: relative;
    font-size: 28px;
    line-height: 24px;
    font-family: 'IM Fell English SC', serif;

}


.call {
    cursor: pointer;
    position: fixed;
    top: 80px;
    right: 2px;
    width: 30%;
    padding: 0.2%;
    text-align: center;
    font-size: 1.5vw;
    margin 10px;
    float: right;
    z-index: 1000;
    box-sizing: border-box;

}

.call img {
    width: 20%;
    float: right;
}

.call span {
    width: 70%;
    float: left;

    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);

}

.clickedCall {
    background-color: rgba(169, 169, 169, 0.8);

    box-shadow: 2px -2px 10px rgba(169, 169, 169, 1);
    font-weight: 800;

    border-bottom-right-radius: 10vw;
    border-top-right-radius: 10vw;
}


.navbar-header {

    margin-top: 5px;
    letter-spacing: 1px;
}

#top-navbar {
    padding-top: 25px;
    letter-spacing: 1.5px;
    font-size: 16px;
    cursor: pointer;

}

.header {
    width: 100%;
}


#slider {
    padding: 0px;
    overflow: hidden;
}

.slider {
    max-width: 100%;
    margin: 0
}

.slide-viewer {
    position: relative;
    overflow: hidden;
}

.slide-group {
    width: 100%;

    position: relative;
}

.slide {
    width: 100%;
    display: none;
    position: absolute;
}

.slide:first-child {
    display: block;
}



.slide img {

    width: 100%;
    position: relative;
    height: 800px;
}

#slider-text {
    animation-duration: 5s;

    left: 10%;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 80px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 2px 5px #000000,
    1px 2px 2px #1C1C1C;
    width: 70%;
}

.btn-primary {
    background-color: rgba(71, 82, 99, 0);
    color: black;
    border: none;
    text-decoration: underline;
}

section {
    min-height: 780px;
    padding: 75px 0px 0px 0px;

}

#about {
    background: url(img/about2.jpg) no-repeat center center fixed;
    color: lightgoldenrodyellow;
    background-size: cover;
}

#how {
    background: url(img/how.jpg) no-repeat center center fixed;
    background-size: cover;
}

#offer {
    background: url(img/offer.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}

#price {
    background: url(img/price.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

#contact {
    background: url(img/contact.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.row {

    padding: 10px;

    border-radius: 5px;

    text-align: left;
}



#top-navbar a {
    color: white;
    font-weight: 400;
    margin-top: -8px;



}

#top-navbar > ul > li {
    margin: 0px;

}


#top-navbar > ul > li > a:hover {
    text-shadow: 0px 0px 2px rgba(40, 40, 40, 0.9),
    0px 0px 4px rgba(105, 105, 105, 0.6);
    font-weight: 500;
    color: rgb(220, 220, 220)
}

#offeDiv {
    background: url(img/hospital.png) no-repeat 98% 85%;
    background-size: contain;
    margin: 1.66%;
    border: 2px solid rgba(250, 250, 250, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 700;
    position: relative;
    padding: 2%;
    height: 50px;
    -webkit-box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    -moz-box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    width: 100%;
    animation-duration: 3s;
    text-shadow: none;


}

@media only screen and (min-width: 24em) {
    #offeDiv {
        height: 70px;
    }
}

@media only screen and (min-width: 50em) {
    #offeDiv {
        height: 70px;
    }
}

@media only screen and (min-width: 73em) {
    #offeDiv {
        height: 85px;
    }
}

#offeDiv p {
    width: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 11px;

}

@media only screen and (min-width: 24em) {
    #offeDiv p {
        font-size: 11px;
    }
}

@media only screen and (min-width: 50em) {
    #offeDiv p {
        font-size: 16px;
    }
}

@media only screen and (min-width: 73em) {
    #offeDiv p {
        font-size: 18px;
    }
}

#offeDiv:hover {
    background-color: rgba(169, 169, 169, 0.8);
    border-radius: 5px;
    box-shadow: 2px -2px 10px rgba(169, 169, 169, 0.8);
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(40, 40, 40, 0.9),
    4px 4px 4px rgba(105, 105, 105, 0.6);
}

.navMargin {
    margin-top: 200px;
}


#priceDiv {
    background-size: contain;
    margin: 3.33%;
    border: 2px solid rgba(250, 250, 250, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 700;
    position: relative;
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    -moz-box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    box-shadow: 1px 1px 5px 3px rgba(35, 36, 34, 1);
    text-align: center;
}

@media only screen and (min-width: 24em) {
    #priceDiv {
        height: 100px;
    }
}

@media only screen and (min-width: 50em) {
    #priceDiv {
        height: 200px;
    }
}

@media only screen and (min-width: 73em) {
    #priceDiv {
        height: 230px;
    }
}

#priceDiv p,
#priceDiv img,
#priceDiv span {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

#priceDiv p {
    max-width: 200px;
    width: 100%;


}

#priceDiv img {
    opacity: 0.5;
    width: 12vw;
    top: 50%;



}

#priceDiv span {
    max-width: 80px;
    width: 100%;
    top: 80%;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (min-width: 24em) {
    #priceDiv span,
    p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 50em) {
    #priceDiv span,
    p {
        font-size: 22px;
    }
}

@media only screen and (min-width: 73em) {
    #priceDiv span,
    p {
        font-size: 24px;
    }
}

.contacts {
    margin-top: 1%;
}

.contacts div {
    margin-bottom: 10%;


}

.contacts p {
    text-align: left;
    margin-bottom: 0px;
    padding-left: 30px;

}

@media only screen and (min-width: 24em) {
    .contacts p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 50em) {
    .contacts p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 73em) {
    .contacts p {
        font-size: 24px;
    }
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: center;
    padding-left: 10px;

}

.contact-item:nth-last-of-type(1) {
    align-content: flex-start;
}

.location {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}


.contacts img {
    width: 50px;
    height: auto;
}

#map {
    width: 100%;
    height: 300px;
    background-color: grey;
    margin-top: 5%;
}

.clicked {
    padding-top: 250px;
}

@media (max-width: 480px) {
    #nav p,
    #nav span {
        font-size: 10px;
    }
    #nav img {
        display: none;
    }

}

@media (min-width:480px) and (max-width:800px) {
    #nav p,
    #nav span {
        font-size: 18px;
    }
    #nav img {
        display: none;
    }

}
